.flickr-showcase-wrap
    
    .flickr-showcase
        background #f1f1f1
        h4
            padding 0 15px
            margin-bottom 20px
        
        ul
            padding 0 15px
            li
                list-style none

.thumbnail
    .caption 
        h3 
            overflow hidden
            text-overflow ellipsis
            display -moz-box
            display -webkit-box
            display box 
            -webkit-line-clamp 2
            -webkit-box-orient vertical !important
            -moz-box-orient vertical
            box-orient vertical
            


/***********************
    Header Styles 
************************/

.navbar-inverse
    border-radius 0
    .navbar-collapse
        ul
            li
                a
                    color #fff